<!-- BEGIN HEADER -->
{{> headers/header}}

<div class="container">
  <div class="row">
    <div class="col-12">
      <h2 class="page-title">
        Welcome to your Dashboard,
        <span id="js-username-goes-here-1"></span>
      </h2>
    </div>
  </div>
</div>

<!-- END HEADER -->


<!-- BEGIN CONTENT -->
<div class="container">

  <!-- BEGIN ADD BOOKS SECTION -->
  <div class="row">


    <form id="js-new-book-container" class="form-inline"></form>
    <div class="col-12 input-group mb-3">
      <div class="input-group-prepend">
        <button class="btn btn-outline-secondary" id='js-new-book-submit' type="button">
          <i class="fa fa-book" aria-hidden="true"></i>
          Create New Book
        </button>
      </div>
      <input type="text" id='js-new-book-input' class="form-control" placeholder="New Book Title" aria-label="New Book Title" aria-describedby="basic-addon1">
    </div>
    </form>

  </div>
  <!-- END ADD BOOKS SECTION -->

  <!-- BEGIN LIST BOOKS SECTION -->
  <div class="row">

    <div class="col-12">

      <!-- BOOKS INSERTED FROM DATABASE -->
      <div id="js-place-books-here" class="book-container">
      </div>

    </div>

  </div>
  <!-- END LIST BOOKS SECTION -->

</div>
</div>
<!-- END CONTENT -->


<script>
  var UserId = {{ UserId }};
  console.log(UserId);
  $(document).ready(function () {
    console.log(UserId);
    $.ajax({
      method: 'GET',
      url: `/currentuser/${UserId}`
    }).then(function (response) {
      console.log("The current user is...", response.username);
      $('#js-username-goes-here-1').text(response.username);
    });

    $.ajax({
      method: 'GET',
      url: '/books',
      data: {}
    }).then(function (response) {
      console.log(response)
      for (var i = 0; i < response.length; i++) {
        var bookListing = $('<div class="book-card">');
        bookListing.append(`<div class="book-spine">${response[i][0]}</div>`);

        // bookListing.append(`<button data-id="${response[i][1]}" class="jsClass-delete-book">Delete Book</button>`);
        // var editLink = $('<a>').addClass("jsClass-edit-book").text("Edit this Book");
        // editLink.attr('href', `/edit/${UserId}/${response[i][1]}/`);
        // bookListing.append(editLink);
        // $('#js-place-books-here').append(bookListing);

        var editLink = (`<a href="/edit/${UserId}/${response[i][1]}/" class="jsClass-edit-book btn btn-primary"><i class="fa fa-pencil" aria-hidden="true"></i> Edit Book</a> `);
        bookListing.append(editLink);
        bookListing.append(`<a href="#" data-id="${response[i][1]}" class="jsClass-delete-book btn btn-secondary"><i class="fa fa-trash-o" aria-hidden="true"></i> Delete Book</a>`);


        $('#js-place-books-here').append(bookListing);
      }
    });

    $('body').on('click', '.jsClass-delete-book', function (event) {
      event.preventDefault();
      var title = $(this).data('id');
      console.log(title);
      // var searchTitle = title.replace(/ /g, "_");
      $.ajax({
        method: 'DELETE',
        url: '/books/' + title
      }).then(function (response) {
        if (response) {
          location.reload();
        }
      });
    });
  });



</script>