<!-- BEGIN HEADER -->
{{> headers/header}}

<div class="container">
  <div class="row">
    <div class="col-12">
      <h2 class="page-title">
        Welcome to your Dashboard,
        <span id="js-username-goes-here-1"></span>
      </h2>
    </div>
  </div>
</div>

<!-- END HEADER -->


<!-- BEGIN CONTENT -->
<div class="container">
  <div class="row">

    <!-- BEGIN BOOKS COLUMN -->
    <div class="col-12">


      <div id="js-place-books-here">

      </div>


      <div id="js-new-book-container">
        <input id="js-new-book-input">
        <button id="js-new-book-submit">Create New Book!</button>
      </div>

    </div>
    <!-- END BOOKS COLUMN -->



  </div>
</div>


<!-- END CONTENT -->





<script>
var UserId = {{UserId}};
console.log(UserId);
  $(document).ready(function () {
    console.log(UserId);
    $.ajax({
        method: 'GET',
        url: `/currentuser/${UserId}`
    }).then(function(response){
        console.log("The current user is...", response.username);
        $('#js-username-goes-here-1').text(response.username);
    });

    $.ajax({
      method: 'GET',
      url: '/books',
      data: {}
    }).then(function (response) {
      console.log(response)
      for (var i = 0; i < response.length; i++) {
        var bookListing = $('<div>');
<<<<<<< Updated upstream
        bookListing.append(`<p><span class="label">Book Name:</span>${response[i][0]}</p>`);
        bookListing.append(`<button data-id="${response[i][0]}" class="jsClass-delete-book">Delete Book</button>`);
        var editLink = $('<a>').addClass("jsClass-edit-book").text("Edit this Book");
        editLink.attr('href', `/edit/${UserId}/${response[i][1]}/`);
        bookListing.append(editLink).append(`<br><br>`);
=======
        bookListing.append(`<p><span class="label">Book Name:</span> ${response[i]}</p>`);
        bookListing.append(`<button data-id="${response[i]}" class="jsClass-delete-book">Delete Book</button>`);
        bookListing.append(`<a class="jsClass-edit-book" href="/edit">Edit this Book</a><br><br>`);
>>>>>>> Stashed changes
        $('#js-place-books-here').append(bookListing);
      }
    });

    $('body').on('click', '.jsClass-delete-book', function (event) {
      event.preventDefault();
      var title = $(this).data('id');
      var searchTitle = title.replace(/ /g, "_");
      $.ajax({
        method: 'DELETE',
        url: '/books/' + searchTitle
      }).then(function (response) {
        location.reload();
      });
    });
  });



</script>