<!-- BEGIN HEADER -->
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Online Writing Journal</h1>
  </div>
</div>

<h2>YOUR DASHBOARD</h2>
<!-- END HEADER -->






<form class="user-options" method="get" action="/">
  <button type="submit">Log Out</button>
</form>

<div id="js-list-books-here">

    <!-- LIST BOOKS HERE -->
</div>

<!-- END CONTENT -->






<!-- BEGIN FOOTER -->
<footer>
    Copyright
</footer>
<!-- END FOOTER -->