<!-- BEGIN HEADER -->
{{> headers/header}}

<div class="container">
    <div class="row">
        <div class="col-12">
            <nav class="breadcrumb">
                <a class="breadcrumb-item" href="../dashboard/">Your Dashboard</a>
                <span class="breadcrumb-item active" id="js-directory-book-title">Insert Name of Book Here</span>
            </nav>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h2 class="page-title">Editing <span id="js-edit-chapter-title-display"></span>
            <span id="js-edit-book-title-display"></span></h2>
        </div>
    </div>
</div>

<!-- END HEADER -->


<!-- BEGIN CONTENT -->
<div class="container">
    <div class="row">

        <!-- BEGIN CHAPTER WRAPPER -->
        <div class="col-lg-4">
            <!-- call to file: views/partials/chapters/chapters-block.handlebars -->
            {{> chapters/chapters-block}}
        </div>
        <!-- END CHAPTER WRAPPER -->


        <!-- BEGIN EDITING WRAPPER -->
        <div class="col-lg-8">
            <!-- call to file:  views/partials/chapters/editchapter.handlebars-->
            {{> chapters/editchapter}}
        </div>
        <!-- END EDITING WRAPPER -->


    </div>
</div>
<!-- END CONTENT -->





