<header class="header-subpage">
    <div class="container text-right">
        <div class="row">
            <div class="col-12 logout">
                <a href="#">
                    <i class="fa fa-user-circle " aria-hidden="true"></i> Logout
                </a>
            </div>
        </div>
        
    </div>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4 site-title">Online Writing Journal</h1>
        </div>
    </div>
</header>