<header>
    <div class="jumbotron jumbotron-fluid">
        <div class="container typewriter">
            <h1 class="display-4 site-title">Online Writing Journal</h1>
        </div>
    </div>
</header>