<h1>Online Writing Journal!</h1>

<h2>Chapter select for <span id="js-name-of-book-goes-here"></span></h2>

<div class="user-options">
  <button type="submit">Back to Dashboard</button>
  <button type="submit">Logout</button>
</div>

{{> chapters/chapters-block}}