{{!-- this file has been depricated by steph on 6-30-18 --}}
{{!-- this file has been depricated by steph on 6-30-18 --}}
{{!-- this file has been depricated by steph on 6-30-18 --}}
{{!-- this file has been depricated by steph on 6-30-18 --}}
{{!-- this file has been depricated by steph on 6-30-18 --}}
{{!-- this file has been depricated by steph on 6-30-18 --}}
{{!-- this file has been depricated by steph on 6-30-18 --}}

<h1>Online Writing Journal!</h1>

<h2>Chapter select for <span id="js-name-of-book-goes-here"></span></h2>

<form class="user-options" method="get" action="/dashboard">
  <button type="submit">Back to Dashboard</button>
</form>

<form class="user-options" method="get" action="/">
  <button type="submit">Logout</button>
</form>


{{> chapters/chapters-block}}