<h1>Online Writing Journal!</h1>

<h2>YOUR DASHBOARD</h2>

<div class="user-options">
  <button type="submit">Log Out</button>
</div>

<div id="js-list-books-here">

    <!-- LIST BOOKS HERE -->
</div>

