/* GLOBAL SELECTORS */
html,
body {
    box-sizing: border-box;
    /* duplicated font-family in case this needs to be part of a SASS template and body font needs to be different than site-title and page-title font */
    font-family:  monospace, 'Times New Roman', Times, serif;
}
a {
  color: red;
}
a:hover {
  color: maroon;
  text-decoration: none;
}
.jumbotron {
  background-color: transparent;
}
header.header-subpage .jumbotron {
  padding: 1rem 2rem 4rem;
}
header{
  background: url("../images/bg-crumpled-paper.jpg") ;
  background-color: bisque;
  position: relative;
}

.logout {
  margin-top: 2rem;
}
.logout form button {
  background-color: bisque;
  padding: .5rem;
  border-radius: .25rem;
}


/* BEGIN STICKY FOOTER */
html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  /* Set the fixed height of the footer here */
  line-height: 60px;
  /* Vertically center the text there */
  text-align: center;
}
/* END STICKY FOOTER */



.site-title {
  font-family: monospace, 'Times New Roman', Times, serif;
  -webkit-text-stroke: 1px black;
  color: white;
  text-shadow:
      3px 3px 0 #000,
    -1px -1px 0 #000,  
     1px -1px 0 #000,
     -1px 1px 0 #000,
      1px 1px 0 #000;
}

.breadcrumb {
  background-color: bisque;
}

.page-title {
  font-family: monospace, 'Times New Roman', Times, serif;
  font-size: 3rem;
  margin-bottom:2rem;
}

/* JUMBOTRON */
.jumbotron {
  font-family: monospace;
}

/* BUTTON COLORS */
.btn-primary {
  color: #fff;
  background-color: brown;
  border-color: brown;
}
.btn-primary:hover {
  color: #fff;
  background-color: darkred;
  border-color: darkred;
}
.btn-secondary {
  color: #000;
  background-color: bisque;
  border-color: bisque;
}
.btn-secondary:hover {
  color: #000000;
  background-color: bisque;
  border-color: bisque;
}

/* LOGIN */

.typewriter h1 {

  overflow: hidden;

  /* Ensures the content is not revealed until the animation */
  /* border-right: .15em solid orange; */

  /* The typwriter cursor */
  white-space: nowrap;
  /* Keeps the content on a single line */
  margin: 0 auto;
  /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em;
  /* Adjust as needed */
  /* animation: typing 3.5s steps(40, end), blink-caret .75s step-end infinite;
  display: inline-block; */
  animation: typing 3.5s steps(40, end);
}

/* The typing effect */

@keyframes typing {
  from {
    width: 0
  }
  to {
    width: 100%
  }
}

/* The typewriter cursor effect */

@keyframes blink-caret {
  from,
  to {
    border-color: transparent
  }
  50% {
    border-color: orange;
  }
}

/* BOOKS ON DASHBOARD */
.book-container {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
}
.book-card {
 width: 300px;
}
.book-spine {
  background-color: lightgrey;
  font-size: 1.5em;
  padding: .5em;
}


/* *******************************************/
/* TABLET */
/* *******************************************/
@media (min-width: 768px) and (max-width: 991px) { 
  .display-4 {
    
  }
  .site-title {
    color:orange;
  }
  .page-title {
    color:orange;
  }
 }


/* *******************************************/
/* MOBILE */
/* *******************************************/
@media (min-width: 1px) and (max-width: 767px) { 
  
  .site-title {
    color:blue;
  }
  .page-title {
    color:blue;
  }

}
