<div class="jumbotron css-list-chapters-here" id="js-list-chapters-here">
    <p>Click a chapter title to load your draft!</p>
    <p>Or create a new chapter!</p><input type="text" id="js-edit-chapter-creator-input"><!--
    --><button type="submit" id="js-edit-chapter-creator-button">Create</button>
</div>

<script type="text/javascript">
var BookId = {{BookId}};
var UserId = {{UserId}};
console.log("The Book ID is: ", BookId);
$(document).ready(function(){
    $.ajax({
        method: 'GET',
        url: `/currentbook/${BookId}`
    }).then(function(response){
        console.log("The relevent book info is...", response);
        $('#js-directory-book-title').text(response.book_name);
        $('#js-edit-book-title-display').text(response.book_name);
    });


    $.ajax({
        method: 'GET',
        url: `/books/${BookId}`
    }).then(function(response){
        console.log(response);
        for (var i=0; i < response.length; i++) {
            var chapterListing = $('<div>');
            chapterListing.append(`<h4>${response[i].chapter_name}</h4>`);
            chapterListing.data("id", response[i].id);
            chapterListing.addClass("css-chapter-listing");
            $('#js-list-chapters-here').append(chapterListing);
            $('#js-edit-book-title-display').append()
        }
    });


    $('body').on('click', '#js-edit-chapter-creator-button', function(event){
        event.preventDefault();
        if (!($('#js-edit-chapter-creator-input').val().trim())){
            return;
        }

        var newChapter = {
            chapter_name: $('#js-edit-chapter-creator-input').val().trim(),
            BookId: BookId,
        };

        console.log(newChapter);

        $.ajax({
            method: 'POST',
            url: '/books/3',
            data: newChapter
        }).then(function (response) {
            location.reload();
        });
    });
});
</script>
