<div id="js-list-chapters-here">
    <!-- LIST CHAPTERS HERE -->
    <div class="glyphicon glyphicon-pencil">    
        <a href="#">
            <i class="fa fa-pencil" aria-hidden="true"></i>
            Chapter One: The Begining
        </a>    
    </div>
    <div class="glyphicon glyphicon-pencil">
        <a href="#">
            <i class="fa fa-pencil" aria-hidden="true"></i>
            Chapter Two: The Middle
        </a>    
    </div>
    <div class="glyphicon glyphicon-pencil">
        <a href="#">
            <i class="fa fa-pencil" aria-hidden="true"></i>
            Chapter Three: The End
        </a>    
    </div>

</div>