<!-- steph moved to partial 
<h2>Editing
    <span id="js-name-of-book-goes-here"></span>
</h2>
-->

{{!-- craig commended out Jul-4-18
<form class="user-options" method="get" action="/books/harrypotter">
    <button type="submit">Return to Chapter Select</button>
</form>

<form class="user-options" method="get" action="/dashboard">
    <button type="submit">Back to Dashboard</button>
</form>

<form class="user-options" method="get" action="/">
    <button type="submit">Logout</button>
</form> --}} {{!--
<div class="user-options">
    <button type="submit">Back to Chapter Select</button>
    <button type="submit">Back to Dashboard</button>
    <button type="submit">Logout</button>
</div> --}}

<div class="css-partial-edit-chapter-">
    {{!-- Edit from Craig: This partial referenced in edit.handlebars is referenced a second time here --}} {{!-- {{> chapters/chapters-block}}
    --}}
    <div>
        <div class="css-edit-chapter-interface" id="js-edit-chapter-interface">
            <h2 class="css-edit-chapter-interface-title" id="js-edit-chapter-interface-title">{{!-- Title of current chapter goes here --}}</h2>
            <textarea class="css-edit-chapter-interface-textarea" id="js-edit-chapter-interface-textarea" disabled>{{!-- The current chapter text is loaded here. --}}</textarea>
        </div>
        <form class="user-options" method="" action="/">
            <div id="js-edit-chapter-interface-main-menu">
                <button type="submit" id="js-edit-chapter-interface-button-save">Save Changes</button>
                <button type="submit" id="js-edit-chapter-interface-button-revert">Revert to Previous Draft</button>
                <button type="submit" id="js-edit-chapter-interface-button-delete">Delete Entry</button>
            </div>
            <div id="js-edit-chapter-interface-confirm-delete-menu">
                <p>Type the chapter name to confirm DELETING this chapter.</p>
                <input type="text" id="js-edit-chapter-interface-type-chapter-name">
                <button type="submit" id="js-edit-chapter-interface-button-confirm-delete">Delete</button>
                <button type="submit" id="js-edit-chapter-interface-button-cancel-delete">Cancel</button>
            </div>
        </form>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#js-edit-chapter-interface-confirm-delete-menu').hide();
        var chapterLastLoaded = [];

        $('body').on('click', '.css-chapter-listing', function () {
            $('.css-edit-chapter-interface-textarea').css({
                'cursor': 'default'
            }).prop('disabled', false);

            var chapter_id = $(this).data('id');
            console.log(chapter_id);

            $.ajax({
                method: 'GET',
                url: '/books/current-book/' + chapter_id
            }).then(function (response) {
                $('#js-edit-chapter-interface-textarea').text(response.chapter_body).focus();
                $('#js-edit-chapter-interface-type-chapter-name').data('title', response.chapter_name);
                $('#js-edit-chapter-interface-button-revert').data("previousDraft", response.chapter_body);
            });
        });

        $('body').on('click', "#js-edit-chapter-interface-button-revert", function(event) {
            event.preventDefault();
            $('#js-edit-chapter-interface-textarea').val($(this).data("previousDraft")).focus();
        });

        $('body').on('click', '#js-edit-chapter-interface-button-delete', function (event) {
            event.preventDefault();
            $('.css-edit-chapter-interface-textarea').css({
                'cursor': 'not-allowed'
            }).prop('disabled', true);

            var chapter_id = '1';

            $('#js-edit-chapter-interface-main-menu').hide();
            $('#js-edit-chapter-interface-confirm-delete-menu').show();
        });

        $('body').on('click', '#js-edit-chapter-interface-button-cancel-delete', function(event) {
            event.preventDefault();
            $('#js-edit-chapter-interface-main-menu').show();
            $('#js-edit-chapter-interface-confirm-delete-menu').hide();
        });

        $('body').on('click', '#js-edit-chapter-interface-button-confirm-delete', function(event) {
            event.preventDefault();
            var titleOfChapter = $('#js-edit-chapter-interface-type-chapter-name').data('title');
            var titleTyped = $('#js-edit-chapter-interface-type-chapter-name').val().trim();
            if (titleTyped != titleOfChapter) {
                return;
            }
            $.ajax({
                method: 'DELETE',
                url: '/books/current-book/16'
            }).then(function (response) {
                console.log(response);
                if (response){
                    location.reload();
                }
            });
        });
    });
</script> {{!-- It was a chilly night in Las Vegas, Nevada... The dogs were happy, and the balloons were happier. This was the first
time Tony Stark had ever visited Coney Island... --}}