<!-- steph moved to partial 
<h2>Editing
    <span id="js-name-of-book-goes-here"></span>
</h2>
-->


{{!-- steph 7/5/18 these links are elsewhere
<form class="user-options" method="get" action="/books/harrypotter">
    <button type="submit">Return to Chapter Select</button>
</form>

<form class="user-options" method="get" action="/dashboard">
    <button type="submit">Back to Dashboard</button>
</form>

<form class="user-options" method="get" action="/">
    <button type="submit">Logout</button>
</form> --}} {{!--
<div class="user-options">
    <button type="submit">Back to Chapter Select</button>
    <button type="submit">Back to Dashboard</button>
    <button type="submit">Logout</button>
</div> --}}

<div>
    {{!-- steph 7/5/18 already being {{> chapters/chapters-block}} --}}

    <div>
        <h2>
            Chapter One: The Begining
        </h2>
        <form class="user-options" method="get" action="/books/harrypotter">
            <button type="button" class="btn btn-primary">
                <i class="fa fa-trash-o" aria-hidden="true"></i>
                Delete
            </button>
        </form>
        <form class="create-form" method="post" action="books/harrypotter/chapter1">
            
            {{!-- <button type="submit">Save</button> --}}
            <button type="button" class="btn btn-secondary">
                <i class="fa fa-floppy-o" aria-hidden="true"></i>
                Save
            </button>

            {{!-- 
            <div>
                Title of current chapter goes here 
            </div>
            --}}

            {{!-- steph replaced 7/5/18
            <textarea>The current chapter text is loaded here.</textarea> 
            --}}
            <div class="form-group">
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="40"></textarea>
            </div>

        </form>
    </div>
</div>