<!-- steph moved to partial 
<h2>Editing
    <span id="js-name-of-book-goes-here"></span>
</h2>
-->

{{!-- craig commended out Jul-4-18
<form class="user-options" method="get" action="/books/harrypotter">
    <button type="submit">Return to Chapter Select</button>
</form>

<form class="user-options" method="get" action="/dashboard">
    <button type="submit">Back to Dashboard</button>
</form>

<form class="user-options" method="get" action="/">
    <button type="submit">Logout</button>
</form> --}} {{!--
<div class="user-options">
    <button type="submit">Back to Chapter Select</button>
    <button type="submit">Back to Dashboard</button>
    <button type="submit">Logout</button>
</div> --}}

<div class="css-partial-edit-chapter-">
    {{!-- Edit from Craig: This partial referenced in edit.handlebars is referenced a second time here --}} {{!-- {{> chapters/chapters-block}}
    --}}
    <div>
        <div class="css-edit-chapter-interface" id="js-edit-chapter-interface">
            <h2 class="css-edit-chapter-interface-title" id="js-edit-chapter-interface-title">{{!-- Title of current chapter goes here --}}</h2>
            <textarea class="css-edit-chapter-interface-textarea" id="js-edit-chapter-interface-textarea" disabled>{{!-- The current chapter text is loaded here. --}}</textarea>
        </div>
        <form class="user-options" method="" action="/">
            <button type="submit">Save Changes</button>
            <button type="submit">Revert to Previous Draft</button>
            <button type="submit">Delete Entry</button>
        </form>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('body').on('click', '.css-chapter-listing', function () {
            $('.css-edit-chapter-interface-textarea').css({
                'cursor': 'default'
            }).prop('disabled', false);

            var chapter_id = $(this).data('id');
            console.log(chapter_id);

            $.ajax({
                method: 'GET',
                url: '/books/chapters/' + chapter_id
            }).then(function (response) {
                $('#js-edit-chapter-interface-textarea').text(response);
            });
        });


    });
</script>